/* 
Quicksand on fontsquirrel 
http://www.fontsquirrel.com/fonts/quicksand
*/
@font-face {
font-family: Quicksand; 
src: url("fonts/Quicksand-Light.otf") format("opentype");
}

body {
  font-family: 'Quicksand', serif;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-right: 500px;
  margin-left: 500px;
}

div {
  padding-bottom: 20px;
}

.morePersonal {
  padding-bottom: 0px;
}

ul {
  padding-top:-50px;
}

/*Font colors!!*/

#greentea {
  color: #67D65B;
}

#bluedaydream {
  color: #07a;  
}

#seafoam {
  color: #3ACD8A;
}

#ponderpurple {
  color: #5F00AA;
}

#quorared {
  color: #a20;
}

#githubblue{
  color: #4183c4;
}

/*h2 {
  font-family: 'Quicksand', serif;
  font-size: 48px;
  text-align: left;
  color: #67D65B;
}

h3 {
  font-family: 'Quicksand', serif;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #67D65B;
}*/    